*{
    font-family: arial;
}

header {
    background-color: #2d6a4f;
    color:#d8f3dc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo p {
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #d8f3dc;
    text-decoration: none;
    font-weight: bold;
}

main .container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #2d6a4f;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
footer {
    background-color: #2d6a4f;
    color:#d8f3dc;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    section.booking-form form {
        flex-direction: column;
    }
}

