*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;


}
body{
    font-family: Arial, sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}
.starter{
    background-image: url('../img/elephant ride.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
}
header {
    background-color: #2d6a4f;
    color:#d8f3dc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo p {
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color:#d8f3dc;
    text-decoration: none;
    font-weight: bold;
}
header .book{
    margin-left: 30px;
}
header .book .bookbtn{
    background-color:#d8f3dc;
    height: 40px;
    width: 120px;
    border-radius: 15px;
    cursor: pointer;
}
header .book .bookbtn:hover{
    background-color: #7eaa84;
    color: #000;
}
header .book .bookbtn a{
    text-decoration: none;
    color: #2d6a4f;
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
}
.content1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}
.text-content {
    flex: 1;
    margin-right: 20px;
    color:#d8f3dc;
    font-size: 65px;
}
.text-content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    letter-spacing:2px;
}
.text-content h1 span{
    color: #2d6a4f;
    font-size: 80px;
}

.form{
    width: 280px;
    height: 410px;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 100px;
    right:20px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #2d6a4f;
    font-size: 22px;
    background-color: #d8f3dc;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #2d6a4f;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #d8f3dc;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #d8f3dc;
    font-family: arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #2d6a4f;
    border: none;
    margin-top:  30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #d8f3dc;
    transition: 0.4s ease;
}

.btnn:hover{
    background:#d8f3dc;
    color: #2d6a4f;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form.link a{
    text-decoration: none;
    color: #2d6a4f;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: #d8f3dc;
}

.icons ion-icon{
    color: #d8f3dc;
    font-size: 30px;
    padding-left:14px;
    padding-top: 5px;
    transition: 0.3s ease;
}


.icons ion-icon:hover{
    color:#2d6a4f;
}


.destinations{
    background-color: #d8f3dc;
    margin-top: 0;
}
.popular-destinations-title {
    font-size:50px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 1px;
    color: #2d6a4f;
}

.popular-destinations{
    display: flex;
    overflow-x: auto;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    min-height: 400px;
    border-radius: 20px;
}
.popular-destinations header{
    display: flex;
}


.container{
    background-size: cover;
    background-position: center;
    border: 1px solid #2d6a4f;
    border-radius: 8px;
    padding: 0px;
    margin: 0 10px;
    min-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

}
.container h2{
    font-size: 18px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.container .location{
    color: #2d6a4f;
    opacity: 0.5;
    font-size: 25px;
    background-color:#d8f3dc;
    max-width: fit-content;
    border-radius: 10px;
    padding: 0px 5px;
}
.popular-destinations .learnmore{
    width: 100px;
    height: 30px;
    background:#2d6a4f;
    border: none;
    margin-bottom: 1px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s ease;
    position: absolute;
    /*left: 0;*/
    right: 0;
    bottom: 0;
}

.popular-destinations .learnmore a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.learnmore:hover{
    background-color:#d8f3dc;
}
.container.destination1 {
    background-image: url('../img/camels ride.jpg');
}
.container.destination2 {
    background-image: url('../img/coast maasai.jpg');
}
.container.destination3 {
    background-image: url('../img/elephant ride.jpg');
}
.container.destination4 {
    background-image: url('../img/giraffe.jpg');
}
.container.destination5 {
    background-image: url('../img/kenya-exp1.jpg');
}
.container.destination6 {
    background-image: url('../img/Kenya.jpeg');
}
.destinations .alldestinations{
    width: 150px;
    height: 30px;
    background:#2d6a4f;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: .4s ease;
    position: absolute;
}
.destinations .alldestinations a{
    text-decoration: none;
    color:black;
    transition: .3s ease;
}
.destinations .alldestinations:hover{
    background-color:#d8f3dc;
    color: #2d6a4f;
}

.prices{
    background-image: url('../img/mount suswa pointing.jpg');

}

.best-prices-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 1px;
    color: #2d6a4f;
}

.best-prices{
    display: flex;
    overflow-x: auto;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    min-height: 400px;
    border-radius: 20px;
}
.container{
    background-size: cover;
    background-position: center;
    border: 1px solid #2d6a4f;
    border-radius: 8px;
    padding: 0px;
    margin: 0 10px;
    min-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.best-prices h1{
    position: absolute;
    top: 10px;  
    left: 10px;  
    margin: 0;
}

.container.range1 {
    background-image: url('../img/large savannah view.jpg');
}
.container.range2 {
    background-image: url('../img/maasai jumping 2.jpeg');
}
.container.range3 {
    background-image: url('../img/mount suswa pointing.jpg');
}
.container.range4 {
    background-image: url('../img/Mount-Kenya-Climbing.jpg');
}
.container.range5 {
    background-image: url('../img/mountain hiking.jpg');
}
.container.range6 {
    background-image: url('../img/mt kenya hiking.jpg');
}

.logo {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.logo h2 {
    font-size: 24px;
    color: #2d6a4f;
    margin-bottom: 10px;
}

.logos ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0px;
}

.logos ul li {
    margin: 0 100px;
}

.logos ul li img {
    max-width: 120px; 
    height: auto;
    display: block;
}
.logos ul li img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    margin:20px;
    margin-bottom: 200px;
}

.content-text {
    flex: 1;
    margin-right: 20px;
    border: 1px solid #2d6a4f;
    border-radius: 20px;
    height: 410px;
}
.content-text  h2{
    color: #2d6a4f;
    margin: 10px;
}

.content-text p {
    margin: 0 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #2d6a4f;
}

.content-image {
    flex:1;
    max-width: 50%; 
}

.content-image img {
    max-width: 100%;
    height: 410px;
    display: block;
    border-radius: 10px; 
}


.footer {
    width: 100%;
    background: #2d6a4f;
    color: #fff;
    position: fixed;
    bottom: 0; /* Ensure the footer is fixed at the bottom */
    left: 0;
    transition: bottom 0.5s;
    display: block; /* Make sure the footer is visible */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #d8f3dc;
}

.footer-section p,
.footer-section ul,
.footer-section a {
    color: #d8f3dc;
    text-decoration: none;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    font-size: 14px; /* Smaller font size for quick links */
}
.footer-section ul li a{
    font-size: 16px;
}
.footer-section ul li a:hover{
    font-size: 17px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background: #2d6a4f; /* Ensure same background color */
    border-top: 1px solid #d8f3dc; /* Optional: add a border for better separation */
}

.social-link {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.social-link:hover {
    text-decoration: solid;
    color: #d8f3dc;
}
