*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

header {
    background-color: #2d6a4f;
    color:#d8f3dc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo p {
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #d8f3dc;
    text-decoration: none;
    font-weight: bold;
}

.content{
    width: 1200px;
    height: auto;
    margin-top: 30px;
    color: #d8f3dc;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    letter-spacing:2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #2d6a4f;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: #d8f3dc;
}

.content span{
    color: #2d6a4f;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #2d6a4f;
    font-size: 22px;
    background-color: #d8f3dc;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #2d6a4f;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #d8f3dc;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #d8f3dc;
    font-family: arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #2d6a4f;
    border: none;
    margin-top:  30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #d8f3dc;
    transition: 0.4s ease;
}

.btnn:hover{
    background:#d8f3dc;
    color: #2d6a4f;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form.link a{
    text-decoration: none;
    color: #2d6a4f;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}




footer {
    background-color: #2d6a4f;
    color:#d8f3dc;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}