*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 7px;
}

.logo{
    color: #d8f3dc;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 75px;
}

.title{
    color: #d8f3dc;
    font-family: arial;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent;      
    border: 1px solid #2d6a4f;
    margin-top: 13px;
    color: #d8f3dc;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;   
    height: 40px;
    background: #2d6a4f;
    border: 2px solid #2d6a4f;
    margin-top: 13px;
    color: #d8f3dc;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
     outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin-top: 30px;
    color: #d8f3dc;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    letter-spacing:2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #2d6a4f;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: #d8f3dc;
}

.content span{
    color: #2d6a4f;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #2d6a4f;
    font-size: 22px;
    background-color: #d8f3dc;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #2d6a4f;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #d8f3dc;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #d8f3dc;
    font-family: arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #2d6a4f;
    border: none;
    margin-top:  30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #d8f3dc;
    transition: 0.4s ease;
}

.btnn:hover{
    background:#d8f3dc;
    color: #2d6a4f;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form.link a{
    text-decoration: none;
    color: #2d6a4f;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: #d8f3dc;
}

.icons ion-icon{
    color: #d8f3dc;
    font-size: 30px;
    padding-left:14px;
    padding-top: 5px;
    transition: 0.3s ease;
}


.icons ion-icon:hover{
    color:#2d6a4f;
}