body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #d8f3dc;
}

header {
    background-color: #2d6a4f;
    color:#d8f3dc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo p {
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #d8f3dc;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: flex;
    max-width: 90%px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}

.text-content {
    flex: 1;
    text-align: left;
}

.text-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2d6a4f;
}

.text-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2d6a4f;
}

.text-content .mission, .text-content .team, .text-content .contact {
    margin-bottom: 30px;
}

.text-content .contact p {
    margin: 5px 0;
}
footer {
    background-color: #2d6a4f;
    color:#d8f3dc;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    section.booking-form form {
        flex-direction: column;
    }
}

