*{
    margin: 0px;
    text-decoration: none;
    font-family: arial;
}

header {
    background-color: #2d6a4f;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo p {
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* modal formats */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-details {
    font-size: 16px;
}

.floating-button {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1000;
}

.floating-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #2d6a4f;
    color:#d8f3dc;
    text-align: center;
    line-height: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.floating-button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    color: #d8f3dc;
}

.floating-button:hover {
    background-color: #1b4f37;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #2d6a4f;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    section.booking-form form {
        flex-direction: column;
    }
}
