*{
    margin: 0px;
    text-decoration: none;
}


.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: #d8f3dc 0.8;      
}

.icon{
    width: 200px;
    float: left;
    height: 7px;
}
.logo{
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    color:#2d6a4f;

}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 200px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 14px;
}

ul li a{
    color:#2d6a4f;
    font-size: 25px;
    font-weight: 200;
    font-family: arial;
    cursor: pointer;
    transition: 0.4s ease;
}

ul li a:hover{
    color:#d8f3dc;
    font-size: 21px;
}


.all-destinations {
    margin: 20px    ;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.container {
    border: 2px solid #2d6a4f;
    border-radius: 10px;
    overflow: hidden;
    width: 320px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8f3dc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destination img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer{
    bottom: 0px;
}

footer .booking{
    width: 100%;
    height: 40px;
    font-size: 25px;
    background-color: #2d6a4f;
    color: #d8f3dc;
    border-radius: 15px;
    border-color: #2d6a4f;

}

footer .booking:hover{
    background-color: #d8f3dc;
    color: #2d6a4f;
    font-size: 30px;
}